*{
  margin: 10px;
  padding: 1px;

}
#principal{
  width:960px;
  height: 1440px;
  margin: 10px auto;
  background:black;
}
header{
  width:960px;
  height:165px;
  background:white;
}
nav{
  width:960px;
  height:235px;
  background:gray;
}
section{
  width:960px;
  height:880px;
  background:white;
}
footer{
  width:960px;
  height:100px;
  background:gray;
}
